<!DOCTYPE html>
<html>
  <head>
    <title>Tweet details</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<h1>Tweet details</h1>
	<div>
	Id: <%=id%>
	</div>
	<div>
	Message: <%=message%>
	</div>
	<div>
	Author: <%=author%>
	</div>
  </body>
</html>